.form{
    padding:50px 400px;
    background: url(https://images.pexels.com/photos/1713953/pexels-photo-1713953.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center/cover;
    border-radius: 10px;
}

@media(max-width:700px){
    .form{
        padding: 50px;
    }
}