.form{
    display: flex;
    justify-content: center;
 
    /* padding:50px 400px; */
    background: #CDDEE6;
   border-radius: 10px;
    /* text-align: center; */
    
}

.input{
    border: gray 1px solid;
    padding:10px;
    border-radius: 5px;
}

.button{
    margin: 10px;
    padding: 10px 50px;
    background-color: gray;
    color: white;
    border-radius: 10px;
}

.message{
    border: gray 1px solid;
    padding: 10px 50px;
    border-radius: 10px;
}

@media(max-width:700px){
    .form{
       background: none;
       display: block;
    }

  
}